/* CSS 선택자(전체 선택자) */
/* 너가 가지고 있는 글자색은 이제부터 상속받은 색을 쓸거야.(agent color가 취소됨) */
*{
  color: inherit;
}

/* 태그 선택자(요소 선택자) */
body {
  /* 글꼴 SUIT, 굵기 300(얇아보임), 배경색, 글자색  */
  font-family: "SUIT";
  margin: 0;
  font-weight: 300;
  /* 키워드 형식 background-color: black;*/
  /* #16진수 형식 : FF0000처럼 두자리가 반복되면 F00이렇게 줄이기도 함 */
  /* 모니터 색깔 표현 방식에 따라 색깔이 촌스럽게 보임. #181818, #121212이 좀 세련돼서 많이 사용함 */
  background-color: #000;  
  /* 네번째 숫자 적으려면 rgba라고 적어야함. (a : alpha값(0~1), 투명도) */
  /* color: rgb(255, 0, 255, 0.5); */
  /* hsla 함수 : 색상(hue), 채도(saturation) 명도(lightness) 알파(alpha) */
  /* color:hsla(110, 100%, 100%, 1) : 채도, 명도를 100으로 주면 무조건 흰색 나옴 */
  color:hsla(110, 50%, 30%, 1);
}

/* class : 동일한 스타일을 여러 부품에 적용하고 싶을 때 사용. 
id에 하지말고 class로 하는 것을 추천.
id, body..등등 요소 직접 선택하는 방법 => 안티패턴 => 비추 */
/* .fancy처럼 클래스로 호출할 것 */
/* 안티패턴 : div 같은건 하나만 사용된다는 보장이 없기 때문에 태그 선택자를 전역에 바로 쓰는 것 : 
태그 선택자를 사용하는건 줄여야한다! */
.fancy {
  /* 글씨 두께, 글씨 그림자 */
  font-weight: bold;
  text-shadow: 4px 4px 3px #77f;
}

ul.menu{
	margin: 0;
	padding-left: 0;
  color: #f00;
}

/* 태그 이름 붙여쓰는거랑 띄워서 쓰는거랑은 무슨 차이? 
(ul.menu)붙여쓰는 것 : ul태그가 menu 클래스를 가졌을 때 적용됨 -> h1클래스에 적용해도 적용안됨
(ul. menu)띄워서 쓰는 것 : ul 태그 안에 있는 자식들(하위선택자) 중 menu 클래스를 가진 애를 선택하기
*/

/* . : 클래스 찾기, # : id찾기        * id는 한 개 밖에 쓸 수 없음!! */
#demo {
  /* border : 테두리 만드는 속성 */
  border: red 2px solid;
}